@import "./../../common.scss";

@mixin commonInit {
  position: relative;
  bottom: 0;
  transform: rotate(0);
  transition: 0.8s ease-in-out;
}

@mixin commonFinal {
  transform: rotate(-15deg);
  bottom: -6rem;
}

.heading {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
  font-size: 2rem;
  opacity: 1;
  overflow: hidden;
  transition: 2s;

  .index {
    @include commonInit;
    margin-right: 1rem;
    color: $secondColor;
    font-size: 1rem;
  }

  .label {
    @include commonInit;
  }

  &::after {
    content: "";
    display: block;
    width: 15rem;
    height: 2px;
    margin-left: 2rem;
    background-color: $secondColor;
    transition: 1s ease-in-out;
  }
}

//css mods for start animations
.hide-heading-line {
  &::after {
    content: "";
    width: 0 !important;
  }
}

.hide-heading-labels {
  .index {
    @include commonFinal;
  }

  .label {
    @include commonFinal;
  }
}

//adaptive
@media (max-width: 600px) {
  .heading {
    margin-bottom: 2rem;
    font-size: 1.4rem;

    .index {
      font-size: 0.9rem;
    }

    &::after {
      width: calc(100% - 16rem);
      margin-left: 1rem;
    }
  }
}
