@import "./../../common.scss";

.section {
  @include flexColumn;
  position: relative;
  justify-content: center;
  min-height: 100vh;

  .background-label {
    position: absolute;
    bottom: 10rem;
    left: -16rem;
    z-index: -1;
    color: $mainColor;
    font-size: 13rem;
    text-wrap: nowrap;
    font-weight: bold;
    letter-spacing: 1rem;
    opacity: 0.05;
    pointer-events: none;
    transition: 1s ease-in-out;
  }

  //css mods for background-label animations

  .hide-bg-label {
    left: -40rem;
    opacity: 0;
    height: 0;
  }
}
