.header {
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  backdrop-filter: blur(0.5rem);

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
  }
}
