.header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  backdrop-filter: blur(0.5rem);
  transition: 0.8s;

  nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;

    .resume-btn {
      margin: 0;
      padding: 0.3rem;
      font-size: 1.3rem;
      font-weight: unset;
    }
  }
}

//css mod for header
.hide {
  top: -10rem;
}
