@import "./../common.scss";

.header {
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1.3rem;
  backdrop-filter: blur(0.5rem);
  transition: 0.8s;
}

//css mod for header
.hide {
  top: -10rem;
}

//adaptive
@media (max-width: 1025px) {
  .header {
    display: none;
  }
}
