@import "./../common.scss";

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $darkColor;
  opacity: 1;
  transition: 0.5s;

  img {
    animation: blink 2s alternate infinite;
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.hide {
  opacity: 0;
}
