@import "./../common.scss";

.mobile-nav {
  position: fixed;
  height: 100vh;
  left: -100%;
  z-index: 3;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: $darkColor;
  opacity: 0;
  transition: 0.2s;
  overflow-y: auto;
}

.show {
  opacity: 1;
  left: 0;
}

@media (max-width: 1024px) {
  .mobile-nav {
    display: flex;
  }
}
