@import "./../common.scss";

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background: $darkColor;
  opacity: 0;
  transition: 0.2s;
}

.show {
  opacity: 1;
  left: 0;
}

@media (max-width: 1025px) {
  .mobile-nav {
    display: flex;
  }
}
