@import "../common.scss";

.nav-link {
  @include underLine;

  @media (pointer: fine) {
    &:hover {
      .link-point__label {
        color: $secondColor;
      }
    }
  }

  .nav-link__index {
    margin-right: 0.3rem;
    color: $secondColor;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .link-point__label {
    font-size: 1.2rem;
    transition: 0.2s;
  }
}

//adaptive
@media (max-width: 1024px) {
  .nav-link {
    width: 100%;
    max-width: 19rem;

    .nav-link__index {
      font-size: 2rem;
    }

    .link-point__label {
      font-size: 2.3rem;
    }
  }
}

@media (max-width: 480px) {
  .nav-link {
    .nav-link__index {
      font-size: 1.7rem;
    }

    .link-point__label {
      font-size: 2rem;
    }
  }
}
