@import "../common.scss";

.nav-link {
  @include underLine;

  @media (pointer: fine) {
    &:hover {
      .link-point__label {
        color: $secondColor;
      }
    }
  }

  .nav-link__index {
    margin-right: 0.5rem;
    color: $secondColor;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .link-point__label {
    font-size: 1.3rem;
    transition: 0.2s;
  }
}
