@import "./../../common.scss";

.radio-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.2s;

  &:has(input[type="radio"]:checked) {
    color: $secondColor;
  }

  @media (pointer: fine) {
    &:hover {
      background-color: rgba($secondColor, 0.3);
    }
  }
}

//adaptive
@media (max-width: 1024px) {
  .radio-btn {
    @include underLine;
    gap: 0;
    flex-direction: column;
    width: unset;
    padding: 0.4rem;
    font-size: 1rem;

    &:has(input[type="radio"]:checked) {
      &::after {
        width: 100%;
      }
    }
  }
}

@media (max-width: 600px) {
  .radio-btn {
    padding: 1rem;

    &::after {
      content: none;
    }
  }
}
