$darkColor: #0c0f0a;
$secondDarkColor: #0d1321;
$mainColor: #e8e8e8;
$secondColor: #800020;
$greenColor: green;

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin underLine {
  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 1px;
    margin-top: 0.5rem;
    background-color: $secondColor;
    transition: 0.2s;
  }

  @media (pointer: fine) {
    &:hover {
      &::after {
        width: 100%;
      }
    }
  }
}

@mixin neonEffect {
  border: solid $secondColor 0.2rem;
  box-shadow: 0 0 1rem 0.1rem $secondColor;
}

@mixin borderStyle {
  border: solid rgba($darkColor, 0) 0.2rem;
  padding: 0.5rem;
  transition: 0.2s;
}

@mixin commonLoadingStyle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $darkColor;
  opacity: 1;
  transition: 0.2s;
}

//common css mods
.hide {
  opacity: 0;
  pointer-events: none;
}

.none {
  display: none;
}

//
//css mods for animations (using JS)

//ascent effect
.ascentInit {
  position: relative;
  bottom: -4rem;
  opacity: 0;
}

//fallEffect
.fallInit {
  position: relative;
  top: -1rem;
  right: -1rem;
  transform: scale(1.2) rotate(5deg);
  opacity: 0;
  transition: 0.6s ease-in-out;
}

.showNode {
  top: 0;
  right: 0;
  transform: scale(1) rotate(0);
  opacity: 1;
  transition: 1s ease !important;
}

//unrollEffect
.unrolling-el {
  overflow: hidden !important;
  opacity: 0;
}
