@import "./common.scss";

html {
  background-color: $darkColor;
  background-attachment: fixed;
  font-size: 16px;
  letter-spacing: 1.5px;
  scroll-behavior: smooth;

  &:has(body .openPortal),
  &:has(body .active-loader),
  &:has(body .show-mobile-nav) {
    overflow: hidden;
  }
}

body {
  @include flexColumn;
  position: relative;
  z-index: 1;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: $mainColor;
  overscroll-behavior: contain;

  *::selection {
    color: $mainColor;
    background-color: $secondColor;
  }

  // &:has(.openPortal),
  // &:has(.active-loader),
  // &:has(.show-mobile-nav) {
  //   // overflow: hidden;
  // }
}

* {
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

main {
  width: 100%;
  padding: 0 1.5rem;
  overflow: hidden;
}

input[type="radio"] {
  display: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

//adaptive
@media (max-width: 1024px) {
  main {
    padding: 0 0.9rem;
  }
}
