@import "./../../common.scss";

@mixin itemLayout {
  @include flexColumn;
  position: relative;
  align-items: center;
  border: solid $secondColor 1.5px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-item {
  @include itemLayout;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (pointer: fine) {
    &:hover {
      .pop-up {
        top: 0;
      }
    }
  }

  img {
    object-fit: cover;
  }

  .pop-up {
    align-self: stretch;
    @include flexColumn;
    align-items: flex-start;
    position: relative;
    top: 100%;
    gap: 1rem;
    margin-top: auto;
    padding: 2rem;
    background-color: rgba($darkColor, 0.6);
    transition: 0.4s;

    .title {
      font-size: 1.8rem;
      font-weight: bold;
    }

    .desc {
      font-size: 1.1rem;
    }
  }
}

//adaptive
@media (max-width: 1024px) {
  .project-item {
    aspect-ratio: 2/1;
  }
}
