@import "./../../common.scss";

.project-card-portal {
  @include flexColumn;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30rem;
  padding: 2rem;
  background: $secondDarkColor;

  .img-frame {
    position: relative;
    width: 100%;
    height: 15rem;
  }

  .tech-list {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .deploy-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }
}
