@import "./../../common.scss";

.work {
  @include flexColumn;
  width: 100%;

  .heading {
    margin-top: unset;
    text-align: center;
    font-size: 1.2rem;
  }

  .signs-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .projects {
    display: grid;
    grid-template-columns: 40rem 40rem;
    grid-template-rows: 20rem;
    gap: 4rem;
    margin-top: 5rem;
  }
}

//adaptive

@media (max-width: 1440px) {
  .work {
    .projects {
      grid-template-columns: 28rem 28rem;
      grid-template-rows: 14rem;
      gap: 2rem;
    }
  }
}

@media (max-width: 1024px) {
  .work {
    .projects {
      @include flexColumn;
      align-items: stretch;
      width: 100%;
      max-width: 40rem;
    }
  }
}
