@import "./../../common.scss";

.popupPortal {
  @include flexColumn;
  align-items: center;
  gap: 1rem;
  position: fixed;
  z-index: 3;
  right: 1.5rem;
  bottom: 1.5rem;
  min-width: 20rem;
  max-width: 30rem;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition: 0.3s;

  span {
    font-size: 1.2rem;
  }
}

//css mods for popup
.error {
  background-color: rgba($secondColor, 1);
}

.success {
  background-color: rgba($greenColor, 1);
}

//css mod for smooth appearance
.show {
  opacity: 1;
}

//adaptive
@media (max-width: 600px) {
  .popupPortal {
    left: 50%;
    transform: translateX(-50%);
    right: unset;
    width: 90%;
    min-width: 10rem;
    padding: 1rem 0.5rem;

    span {
      font-size: 1.4rem;
    }
  }
}
